
.vs/RPG Console/v15/.suo
.vs/RPG Console/v15/Server/sqlite3/db.lock
RPGConsole/bin/Debug/RPG Console.exe
RPGConsole/bin/Debug/RPG Console.pdb
RPGConsole/obj/Debug/RPG Console.exe
RPGConsole/obj/Debug/RPG Console.pdb
RPGConsole/bin/*
RPGConsole/obj/*